Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou

mark dataset test static for test index
  tests/test_index.cpp
  tests/test_index.h
Owners: @wxyucs, @jiaweizone

modify
  src/index/hnsw.cpp
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

modify
  examples/cpp/simple_pyramid.cpp
  src/dataset_impl.h
  src/index/pyramid.cpp
  src/index/pyramid.h
Owners: @wxyucs, @jiaweizone

[skip ci]update python example
  .gitignore
  examples/python/example_hnsw.py
Owners: @wxyucs, @jiaweizone

reduce the number of I/O operations for HNSW during deserialization (#156)
  src/algorithm/hnswlib/algorithm_interface.h
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/footer.cpp
  src/footer.h
  src/footer_test.cpp
  src/impl/conjugate_graph.cpp
  src/impl/conjugate_graph.h
  src/impl/conjugate_graph_test.cpp
  src/index/hnsw.cpp
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

trans hnsw to hgraph in search param parse
  examples/cpp/simple_hgraph_sq8.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
Owners: @wxyucs, @jiaweizone

sq8uniform simd implement (#161)
  src/simd/avx.cpp
  src/simd/avx512.cpp
  src/simd/generic.cpp
  src/simd/sq8_uniform_simd_test.cpp
  src/simd/sse.cpp
Owners: @LHT129, @ShawnShawnYou

reduce the number of I/O operations for HNSW during deserialization (#156)
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/hnswlib.h
  src/algorithm/hnswlib/stream_reader.cpp
  src/algorithm/hnswlib/stream_reader.h
  src/footer.cpp
  src/footer.h
  src/footer_test.cpp
  src/impl/conjugate_graph.cpp
  src/impl/conjugate_graph.h
  src/impl/conjugate_graph_test.cpp
  src/index/hnsw.cpp
Owners: @jiaweizone

trans hnsw to hgraph in search param parse (#165)
  examples/cpp/simple_hgraph_sq8.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
Owners: @wxyucs, @jiaweizone

mark dataset test static for test index (#164)
  tests/test_index.cpp
  tests/test_index.h
Owners: @wxyucs, @jiaweizone

introduce some constants config for hgraph
  examples/cpp/simple_hgraph_sq8.cpp
  include/vsag/constants.h
  src/constants.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_zparameters.cpp
  src/inner_string_params.h
Owners: @wxyucs, @jiaweizone

add boundary checks for data when parsing the conjugate graph
  src/impl/conjugate_graph.cpp
Owners: @jiaweizone

introduce sq8 uniform quantizer
  src/quantization/scalar_quantization_trainer.h
  src/quantization/sq8_uniform_quantizer.cpp
  src/quantization/sq8_uniform_quantizer.h
  src/quantization/sq8_uniform_quantizer_test.cpp
Owners: @jiaweizone

refactor the code for index parameter parsing (#126)
  CMakeLists.txt
  include/vsag/constants.h
  src/constants.cpp
  src/factory/factory.cpp
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/diskann_zparameters.h
  src/index/diskann_zparameters_test.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hnsw.cpp
  src/index/hnsw.h
  src/index/hnsw_test.cpp
  src/index/hnsw_zparameters.cpp
  src/index/hnsw_zparameters.h
  src/index/hnsw_zparameters_test.cpp
  src/index/index_commom_param_test.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
  src/parameter_check.cpp
  src/utils.h
  tests/test_hnsw_new.cpp
Owners: @wxyucs, @jiaweizone

add boundary checks for data when parsing the conjugate graph (#171)
  src/impl/conjugate_graph.cpp
Owners: @jiaweizone

[skip ci]update python example (#152)
  .gitignore
  examples/python/example_hnsw.py
Owners: @wxyucs, @jiaweizone

[skip ci]update README.md
  CONTRIBUTING.md
  README.md
Owners: @wxyucs, @jiaweizone

[skip ci]update README.md (#174)
  CONTRIBUTING.md
  README.md
Owners: @wxyucs, @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/visited_list_pool.h
  src/factory/factory.cpp
  src/index/hnsw.cpp
  src/index/hnsw.h
  tests/test_multi_thread.cpp
Owners: @jiaweizone, @wxyucs

update
  src/impl/conjugate_graph.cpp
  src/impl/conjugate_graph.h
  src/index/hnsw.cpp
  src/index/hnsw.h
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
  tests/test_index_old.cpp
  tests/test_multi_thread.cpp
Owners: @jiaweizone, @wxyucs

fix illegal instruction on platform which has avx only
  src/simd/CMakeLists.txt
Owners: @LHT129, @ShawnShawnYou

modify
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
Owners: @jiaweizone

modify
  tests/test_multi_thread.cpp
Owners: @wxyucs, @jiaweizone

update several minor in conjugate graph (#147)
  src/impl/conjugate_graph.cpp
  src/impl/conjugate_graph.h
  src/index/hnsw.cpp
  src/index/hnsw.h
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
  tests/test_index_old.cpp
  tests/test_multi_thread.cpp
Owners: @jiaweizone, @wxyucs

fix illegal instruction on platform which has avx only (#175)
  src/simd/CMakeLists.txt
Owners: @LHT129, @ShawnShawnYou

add resize for hgraph (#140)
  src/data_cell/graph_interface.h
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_zparameters.cpp
Owners: @jiaweizone

introduce some constants config for hgraph (#168)
  examples/cpp/simple_hgraph_sq8.cpp
  include/vsag/constants.h
  src/constants.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_zparameters.cpp
  src/inner_string_params.h
Owners: @wxyucs, @jiaweizone
