Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou

fix test_perfprmance
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

fix test_perfprmance (#119)
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

add doc for hgraph
  docs/hgraph_params.md
Owners: @wxyucs, @jiaweizone

fix test_asan_bg for unittest
  scripts/test_asan_bg.sh
  tests/fixtures/fixtures.h
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

fix test_asan_bg for unittest (#118)
  scripts/test_asan_bg.sh
  tests/fixtures/fixtures.h
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

optimize the simd operator
  src/simd/CMakeLists.txt
  src/simd/fp32_simd.cpp
  src/simd/fp32_simd.h
  src/simd/simd.h
  src/simd/simd_status.h
  src/simd/sq4_simd.cpp
  src/simd/sq4_simd.h
  src/simd/sq4_uniform_simd.cpp
  src/simd/sq4_uniform_simd.h
  src/simd/sq8_simd.cpp
  src/simd/sq8_simd.h
Owners: @LHT129, @ShawnShawnYou

optimize the simd operator (#113)
  src/simd/CMakeLists.txt
  src/simd/fp32_simd.cpp
  src/simd/fp32_simd.h
  src/simd/simd.h
  src/simd/simd_status.h
  src/simd/sq4_simd.cpp
  src/simd/sq4_simd.h
  src/simd/sq4_uniform_simd.cpp
  src/simd/sq4_uniform_simd.h
  src/simd/sq8_simd.cpp
  src/simd/sq8_simd.h
Owners: @LHT129, @ShawnShawnYou

add doc for hgraph (#120)
  docs/hgraph_params.md
Owners: @wxyucs, @jiaweizone

introduce hgraph
  src/data_cell/flatten_datacell.h
  src/data_cell/graph_datacell.h
  src/factory/factory.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
  src/index/hgraph_zparameters.cpp
  src/stream_writer.cpp
  src/stream_writer.h
Owners: @jiaweizone

split the vsag compile operations
  src/CMakeLists.txt
  src/algorithm/hnswlib/CMakeLists.txt
  src/data_cell/CMakeLists.txt
  src/factory/CMakeLists.txt
  src/impl/CMakeLists.txt
  src/index/CMakeLists.txt
  src/index/hnsw.cpp
  src/index/hnsw_zparameters.cpp
  src/index/hnsw_zparameters.h
Owners: @jiaweizone

modify
  examples/cpp/example_tag_index.cpp
  include/vsag/constants.h
  mockimpl/CMakeLists.txt
  src/constants.cpp
  src/factory/factory.cpp
Owners: @wxyucs, @jiaweizone

update third-party download time limit to fix occasional timeout
  extern/boost/boost.cmake
  extern/roaringbitmap/roaringbitmap.cmake
Owners: @wxyucs, @jiaweizone

fix header
  src/c.cpp
Owners: @jiaweizone

add c binding
  include/vsag/c.h
  src/c.cpp
Owners: @wxyucs, @jiaweizone

add version to vsag_static dependency
  CMakeLists.txt
  README.md
Owners: @wxyucs, @jiaweizone

clang fmt
  include/vsag/c.h
  src/c.cpp
Owners: @wxyucs, @jiaweizone

introduce hgraph (#114)
  src/data_cell/flatten_datacell.h
  src/data_cell/graph_datacell.h
  src/factory/factory.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
  src/index/hgraph_zparameters.cpp
  src/stream_writer.cpp
  src/stream_writer.h
Owners: @jiaweizone

refactor parameter parser
  CMakeLists.txt
  src/factory/factory.cpp
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/diskann_zparameters.h
  src/index/diskann_zparameters_test.cpp
  src/index/hnsw.cpp
  src/index/hnsw.h
  src/index/hnsw_test.cpp
  src/index/hnsw_zparameters.cpp
  src/index/hnsw_zparameters.h
  src/index/hnsw_zparameters_test.cpp
  src/index/index_commom_param_test.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
  src/parameter_check.cpp
  src/utils.h
  tests/CMakeLists.txt
Owners: @wxyucs, @jiaweizone

refactor parameter parser
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/diskann_zparameters.h
  src/index/diskann_zparameters_test.cpp
  src/index/hnsw.cpp
  src/index/hnsw.h
  src/index/hnsw_test.cpp
  src/index/index_commom_param_test.cpp
  src/parameter_check.cpp
  src/utils.h
Owners: @jiaweizone

fix compile error
  include/vsag/constants.h
  src/constants.cpp
  src/data_cell/graph_datacell_test.cpp
  src/data_cell/sparse_graph_datacell_test.cpp
  src/factory/factory.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  tests/test_hnsw_new.cpp
Owners: @wxyucs, @jiaweizone

implement sq4&sq4_uniform for flatten_datacell
  src/data_cell/flatten_interface.cpp
  src/inner_string_params.h
  src/quantization/quantizer_headers.h
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq4_uniform_quantizer_test.cpp
Owners: @jiaweizone

modify
  src/factory/factory.cpp
  src/parameter_check.cpp
Owners: @jiaweizone

fix compile error in clang17
  src/data_cell/graph_datacell_test.cpp
  src/data_cell/sparse_graph_datacell_test.cpp
  tests/test_hnsw_new.cpp
Owners: @jiaweizone, @wxyucs

Remove the dependency on gfortran during the MKL compilation process.
  extern/diskann/diskann.cmake
  extern/mkl/mkl.cmake
Owners: @inabao, @wxyucs, @jiaweizone

fix compile error in clang17 (#127)
  src/data_cell/graph_datacell_test.cpp
  src/data_cell/sparse_graph_datacell_test.cpp
  tests/test_hnsw_new.cpp
Owners: @jiaweizone, @wxyucs

remove the dependency on gfortran during the MKL compilation process (#128)
  extern/diskann/diskann.cmake
  extern/mkl/mkl.cmake
Owners: @inabao, @wxyucs, @jiaweizone

simple example for hgraph
  examples/cpp/CMakeLists.txt
  examples/cpp/simple_hgraph_sq8.cpp
Owners: @wxyucs, @jiaweizone

update third-party download time limit to fix occasional timeout (#124)
  extern/boost/boost.cmake
  extern/roaringbitmap/roaringbitmap.cmake
Owners: @wxyucs, @jiaweizone

simple example for hgraph (#129)
  examples/cpp/CMakeLists.txt
  examples/cpp/simple_hgraph_sq8.cpp
Owners: @wxyucs, @jiaweizone

add more ci resources and utilization
  .circleci/config.yml
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

alias some shared_ptr
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_interface.h
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/quantization/computer.h
Owners: @jiaweizone

add new constants value: HGRAPH_GRAPH_MAX_DEGREE
  include/vsag/constants.h
  src/constants.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
Owners: @wxyucs, @jiaweizone

implement sq4&sq4_uniform for flatten_datacell (#117)
  src/data_cell/flatten_interface.cpp
  src/inner_string_params.h
  src/quantization/quantizer_headers.h
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq4_uniform_quantizer_test.cpp
Owners: @jiaweizone

alias nlohmann::json to JsonType
  src/factory/factory.cpp
  src/factory/factory_test.cpp
  src/footer.cpp
  src/footer.h
  src/impl/conjugate_graph.h
  src/impl/conjugate_graph_test.cpp
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hnsw.cpp
  src/index/hnsw_test.cpp
  src/index/hnsw_zparameters.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
  src/io/memory_block_io.h
  src/io/memory_io.h
  src/quantization/fp32_quantizer.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

fix memory leak for hnsw
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @jiaweizone

add more ci resources and utilization (#130)
  .circleci/config.yml
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

alias some shared_ptr (#134)
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_interface.h
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/quantization/computer.h
Owners: @jiaweizone

modify
  examples/cpp/simple_tag_index.cpp
  include/vsag/dataset.h
  src/dataset_impl.h
  src/index/multi_index.h
Owners: @wxyucs, @jiaweizone

update DEVELOPMENT.md
  DEVELOPMENT.md
  Makefile
Owners: @wxyucs, @jiaweizone
