Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

update DEVELOPMENT.md (#139)
  DEVELOPMENT.md
  Makefile
Owners: @wxyucs, @jiaweizone

alias nlohmann::json to JsonType (#133)
  src/factory/factory.cpp
  src/factory/factory_test.cpp
  src/footer.cpp
  src/footer.h
  src/impl/conjugate_graph.h
  src/impl/conjugate_graph_test.cpp
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hnsw.cpp
  src/index/hnsw_test.cpp
  src/index/hnsw_zparameters.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
  src/io/memory_block_io.h
  src/io/memory_io.h
  src/quantization/fp32_quantizer.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

add new constants value: HGRAPH_GRAPH_MAX_DEGREE (#131)
  include/vsag/constants.h
  src/constants.cpp
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
Owners: @wxyucs, @jiaweizone

support cosine in diskann (#98)
  extern/diskann/DiskANN/include/disk_utils.h
  extern/diskann/DiskANN/include/in_mem_data_store.h
  extern/diskann/DiskANN/src/disk_utils.cpp
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
  extern/diskann/DiskANN/src/index.cpp
  extern/diskann/DiskANN/src/pq.cpp
  extern/diskann/DiskANN/src/pq_flash_index.cpp
  src/index/diskann.cpp
  src/index/diskann_zparameters.cpp
  tests/test_index_old.cpp
Owners: @inabao, @jiaweizone, @wxyucs

modify
  Makefile
  examples/cpp/CMakeLists.txt
  examples/cpp/example_tag_index.cpp
  examples/cpp/simple_tag_index.cpp
  mockimpl/CMakeLists.txt
  src/constants.cpp
  src/dataset_impl.h
  src/index/multi_index.h
  src/index/multi_index_zparameters.cpp
  src/index/multi_index_zparameters.h
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

add error redirect to log file for CI
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

add error redirect to log file for CI (#142)
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

upgrade catch2 to v3.7.1
  .circleci/config.yml
  .circleci/fresh_ci_cache.commit
  extern/catch2/catch2.cmake
Owners: @wxyucs, @jiaweizone

upgrade catch2 to v3.7.1 (#141)
  .circleci/config.yml
  .circleci/fresh_ci_cache.commit
  extern/catch2/catch2.cmake
Owners: @wxyucs, @jiaweizone

delete unittest for hgraph
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
Owners: @jiaweizone

move the Vector, Unordermap, ... to typing.h
  src/stream_reader.h
  src/stream_writer.h
  src/typing.h
  src/utils.h
Owners: @jiaweizone

avoiding test asan's nullptr memcpy&memcmp error
  src/data_cell/graph_interface_test.cpp
  tests/fixtures/fixtures.cpp
Owners: @jiaweizone, @wxyucs

split allocator_wrapper and default Allocator
  src/allocator_wrapper.h
  src/data_cell/graph_interface_test.cpp
  src/data_cell/sparse_graph_datacell_test.cpp
  src/dataset_impl_test.cpp
  src/default_allocator.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer_test.cpp
  src/utils.h
Owners: @jiaweizone

modify
  src/index/diskann.h
  src/index/diskann_zparameters.cpp
  src/index/hgraph_zparameters.cpp
Owners: @jiaweizone

use TEST_CASE_PERSISTENT_FIXTURE instead TEST_CASE_METHOD
  tests/test_hnsw_new.cpp
  tests/test_index.cpp
  tests/test_index.h
Owners: @wxyucs, @jiaweizone

performance 5w+
  src/index/hnsw.cpp
  tests/CMakeLists.txt
  tests/performance/test_performance.cpp
Owners: @jiaweizone, @wxyucs

simplify the train of sq
  src/quantization/scalar_quantization_trainer.cpp
  src/quantization/scalar_quantization_trainer.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

enable sq4&sq4_uniform in HGraph
  src/index/hgraph_zparameters.cpp
Owners: @jiaweizone

avoiding test asan's nullptr memcpy&memcmp error (#146)
  src/data_cell/graph_interface_test.cpp
  tests/fixtures/fixtures.cpp
Owners: @jiaweizone, @wxyucs

split allocator_wrapper and default Allocator (#145)
  src/allocator_wrapper.h
  src/data_cell/graph_interface_test.cpp
  src/data_cell/sparse_graph_datacell_test.cpp
  src/dataset_impl_test.cpp
  src/default_allocator.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer_test.cpp
  src/utils.h
Owners: @jiaweizone

add batch query for pyvsag
  CMakeLists.txt
  python/pyvsag/__init__.py
  python/setup.py
  python_bindings/binding.cpp
  src/index/hnsw.cpp
  tests/CMakeLists.txt
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

enable sq4&sq4_uniform in HGraph (#151)
  src/index/hgraph_zparameters.cpp
Owners: @jiaweizone

use TEST_CASE_PERSISTENT_FIXTURE instead TEST_CASE_METHOD (#149)
  tests/test_hnsw_new.cpp
  tests/test_index.cpp
  tests/test_index.h
Owners: @wxyucs, @jiaweizone

delete unittest for hgraph (#132)
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
Owners: @jiaweizone

add invalid check on build and search for hgraph
  src/index/hgraph_index.cpp
Owners: @jiaweizone

simplify the train of sq
  src/quantization/scalar_quantization_trainer.cpp
  src/quantization/scalar_quantization_trainer.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

format code
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

add range search for hgraph (only interface)
  src/index/hgraph_index.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
  src/index/hgraph_index.cpp
Owners: @jiaweizone

add range search for hgraph (only interface) (#143)
  src/index/hgraph_index.h
Owners: @jiaweizone

fix save index
  python_bindings/binding.cpp
Owners: @wxyucs, @jiaweizone

speed up flatten by pass ref of shared_ptr
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_interface.h
Owners: @jiaweizone

speed up flatten by pass ref of shared_ptr (#153)
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_interface.h
Owners: @jiaweizone

add invalid check on build and search for hgraph (#138)
  src/index/hgraph_index.cpp
Owners: @jiaweizone

reduce the number of I/O operations for HNSW during deserialization
  src/algorithm/hnswlib/algorithm_interface.h
  src/algorithm/hnswlib/block_manager.cpp
  src/algorithm/hnswlib/block_manager.h
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/index/hgraph_index.cpp
  src/index/hnsw.cpp
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/visited_list_pool.h
  src/index/hgraph_index.cpp
Owners: @jiaweizone

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou
