Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

bugfix: clang17 compile error
  src/base_filter_functor.h
Owners: @jiaweizone

bugfix: clang17 compile error (#85)
  src/base_filter_functor.h
Owners: @jiaweizone

fix compile issue in arm
  src/simd/sq4_simd.h
  src/simd/sq4_uniform_simd.h
Owners: @LHT129, @ShawnShawnYou

enable ccache in circleci
  .circleci/config.yml
Owners: @wxyucs

fix(extern): remove duplicate mkl_core path
  extern/mkl/mkl.cmake
Owners: @wxyucs, @jiaweizone

enable ccache in circleci (#87)
  .circleci/config.yml
Owners: @wxyucs

enable allocator for quantizers
  src/data_cell/flatten_datacell_test.cpp
  src/quantization/computer.h
  src/quantization/fp32_quantizer.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/quantizer.h
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer.h
  src/quantization/sq8_quantizer_test.cpp
Owners: @jiaweizone

add type check for io
  src/io/basic_io.h
  src/io/basic_io_test.cpp
  src/io/memory_block_io.h
  src/io/memory_io.h
Owners: @jiaweizone

add restore cache for main-branch-check
  .circleci/config.yml
Owners: @wxyucs

remove redundant judgments during the HNSW search process (#38)
  src/algorithm/hnswlib/hnswalg.h
Owners: @jiaweizone

use shard for functests
  Makefile
Owners: @wxyucs, @jiaweizone

add restore cache for main-branch-check (#93)
  .circleci/config.yml
Owners: @wxyucs

modify
  benchs/benchmark/dataset.py
  include/vsag/binaryset.h
  include/vsag/constants.h
  include/vsag/dataset.h
  src/constants.cpp
  src/dataset_impl.h
  src/factory/factory.cpp
  src/index/multi_index.cpp
  src/index/multi_index.h
  src/index/multi_index_zparameters.cpp
  src/index/multi_index_zparameters.h
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

[uncertain version] remove SIMD dependency
  CMakeLists.txt
  src/algorithm/hnswlib/hnswalg.h
  src/simd/avx.cpp
  src/simd/avx512.cpp
  src/simd/generic.cpp
  src/simd/simd.cpp
  src/simd/simd.h
  src/simd/sse.cpp
Owners: @wxyucs, @jiaweizone, @LHT129, @ShawnShawnYou

fix(extern): remove duplicate mkl_core path
  extern/mkl/mkl.cmake
Owners: @wxyucs, @jiaweizone

add type check for io (#84)
  src/io/basic_io.h
  src/io/basic_io_test.cpp
  src/io/memory_block_io.h
  src/io/memory_io.h
Owners: @jiaweizone

enable allocator for quantizers
  src/data_cell/flatten_datacell_test.cpp
  src/quantization/computer.h
  src/quantization/fp32_quantizer.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/quantizer.h
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer.h
  src/quantization/sq8_quantizer_test.cpp
Owners: @jiaweizone

modify
  extern/diskann/DiskANN/include/in_mem_data_store.h
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
  src/index/diskann_zparameters.cpp
Owners: @inabao, @jiaweizone

modify
  extern/diskann/DiskANN/include/abstract_data_store.h
  extern/diskann/DiskANN/include/in_mem_data_store.h
  extern/diskann/DiskANN/include/index.h
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
  extern/diskann/DiskANN/src/index.cpp
Owners: @inabao

enable allocator for quantizers (#80)
  src/data_cell/flatten_datacell_test.cpp
  src/quantization/computer.h
  src/quantization/fp32_quantizer.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/quantizer.h
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer.h
  src/quantization/sq8_quantizer_test.cpp
Owners: @jiaweizone

remove SIMD dependency
  src/algorithm/hnswlib/hnswalg.h
  src/simd/simd.cpp
  src/simd/simd.h
Owners: @jiaweizone, @LHT129, @ShawnShawnYou

fix compile issue in arm
  src/simd/sq4_simd.h
  src/simd/sq4_uniform_simd.h
Owners: @LHT129, @ShawnShawnYou

update pyvsag version
  python/pyvsag/__init__.py
  python/setup.py
Owners: @wxyucs, @jiaweizone

Add basic index test
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
  tests/fixtures/test_dataset.h
  tests/fixtures/test_pool.h
  tests/test_index.cpp
  tests/test_index.h
Owners: @wxyucs, @jiaweizone

fix compile issue in arm (#89)
  src/simd/sq4_simd.h
  src/simd/sq4_uniform_simd.h
Owners: @LHT129, @ShawnShawnYou

fix(extern): remove duplicate mkl_core path (#91)
  extern/mkl/mkl.cmake
Owners: @wxyucs, @jiaweizone

modify
  extern/diskann/DiskANN/include/abstract_data_store.h
  extern/diskann/DiskANN/include/disk_utils.h
  extern/diskann/DiskANN/include/in_mem_data_store.h
  extern/diskann/DiskANN/include/index.h
  extern/diskann/DiskANN/include/pq_flash_index.h
  extern/diskann/DiskANN/src/disk_utils.cpp
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
  extern/diskann/DiskANN/src/index.cpp
  extern/diskann/DiskANN/src/pq.cpp
  extern/diskann/DiskANN/src/pq_flash_index.cpp
  src/index/diskann.cpp
  tests/test_index.cpp
Owners: @inabao, @jiaweizone, @wxyucs

modify
  extern/diskann/DiskANN/include/index.h
  extern/diskann/DiskANN/include/pq_flash_index.h
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
  extern/diskann/DiskANN/src/index.cpp
Owners: @inabao

modify
  extern/diskann/DiskANN/src/pq_flash_index.cpp
Owners: @inabao

enhance flatten_datacell functions
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_datacell_test.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/flatten_interface.h
  src/data_cell/flatten_interface_test.cpp
  src/data_cell/flatten_interface_test.h
Owners: @jiaweizone

update temp_dir struct
  src/impl/conjugate_graph_test.cpp
  src/index/hnsw_test.cpp
  src/io/basic_io_test.cpp
  src/io/basic_io_test.h
  tests/fixtures/fixtures.h
  tests/test_index.cpp
  tests/test_vsag_ext.cpp
Owners: @jiaweizone, @wxyucs

[WIP] update save and load
  python_bindings/binding.cpp
Owners: @wxyucs, @jiaweizone

[WIP] update save and load 2
  python_bindings/binding.cpp
Owners: @wxyucs, @jiaweizone

modify
  benchs/benchmark/dataset.py
  extern/diskann/DiskANN/src/pq.cpp
  src/index/multi_index.cpp
  src/index/multi_index.h
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone, @inabao

chore: compile example only when required
  CMakeLists.txt
  README.md
  examples/cpp/simple_hnsw.cpp
Owners: @wxyucs, @jiaweizone

modify
  extern/diskann/DiskANN/src/pq.cpp
Owners: @inabao

fix format
  examples/cpp/simple_hnsw.cpp
Owners: @wxyucs, @jiaweizone

support the use of different C++ standard libraries
  CMakeLists.txt
  Makefile
Owners: @wxyucs, @jiaweizone

modify
  extern/diskann/DiskANN/src/in_mem_data_store.cpp
Owners: @inabao

modify
  Makefile
Owners: @wxyucs, @jiaweizone

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou
