Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

modify
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @jiaweizone

modify
  CMakeLists.txt
  include/vsag/constants.h
  src/constants.cpp
  src/factory/factory.cpp
  src/index/diskann_zparameters.h
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hnsw.cpp
  src/index/hnsw_zparameters.cpp
  src/index/hnsw_zparameters.h
  src/index/index_commom_param_test.cpp
  src/index/index_common_param.h
  src/parameter_check.cpp
  src/utils.h
  tests/CMakeLists.txt
Owners: @wxyucs, @jiaweizone

modify
  src/factory/factory.cpp
Owners: @jiaweizone

move the Vector, Unordermap, ... to typing.h (#144)
  src/stream_reader.h
  src/stream_writer.h
  src/typing.h
  src/utils.h
Owners: @jiaweizone

simplify the train of sq (#148)
  src/quantization/scalar_quantization_trainer.cpp
  src/quantization/scalar_quantization_trainer.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_uniform_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @jiaweizone

modify
  include/vsag/allocator.h
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @wxyucs, @jiaweizone

modify
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

enable fliter with external labels
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/io/basic_io.h
  src/typing.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg_static.h
Owners: @jiaweizone

enable fliter with external labels (#135)
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/io/basic_io.h
  src/typing.h
Owners: @jiaweizone

use shared lock for global mutex of hgraph
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/block_manager.cpp
  src/algorithm/hnswlib/hnswalg.cpp
  src/data_cell/flatten_interface_test.cpp
  src/data_cell/graph_interface_test.cpp
  src/index/hgraph_index.cpp
  src/io/basic_io_test.cpp
  src/io/basic_io_test.h
  src/quantization/quantizer_test.h
  src/stream_reader.cpp
  src/stream_reader.h
  tests/performance/test_performance.cpp
Owners: @jiaweizone, @wxyucs

modify
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @jiaweizone

modify
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

introduce the IndexFeature for user
  include/vsag/index.h
  include/vsag/index_feature.h
Owners: @wxyucs, @jiaweizone

fix memory leak for hnsw (#137)
  include/vsag/allocator.h
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
  src/index/hgraph_index.cpp
Owners: @wxyucs, @jiaweizone

fix issue that pyvsag always returns the same ids and dists
  python/pyvsag/__init__.py
  python/setup.py
  python_bindings/binding.cpp
Owners: @wxyucs, @jiaweizone

fix memory leak for hnsw (#137)
  include/vsag/allocator.h
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/algorithm/hnswlib/visited_list_pool.h
Owners: @wxyucs, @jiaweizone

modify
  Makefile
  examples/cpp/example_hnsw.cpp
  src/algorithm/hnswlib/algorithm_interface.h
  src/algorithm/hnswlib/block_manager.cpp
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/data_cell/flatten_interface_test.cpp
  src/data_cell/graph_interface_test.cpp
  src/index/hgraph_index.cpp
  src/index/hnsw.cpp
  src/io/basic_io_test.cpp
  src/io/basic_io_test.h
  src/quantization/quantizer_test.h
  src/stream_reader.cpp
  src/stream_reader.h
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

modify
  examples/cpp/example_hnsw.cpp
  src/stream_reader.cpp
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

modify
  Makefile
Owners: @wxyucs, @jiaweizone

modify
  src/algorithm/hnswlib/algorithm_interface.h
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/algorithm/hnswlib/hnswalg_static.h
  src/footer.cpp
  src/footer.h
  src/footer_test.cpp
  src/impl/conjugate_graph.cpp
  src/impl/conjugate_graph.h
  src/impl/conjugate_graph_test.cpp
  src/index/hnsw.cpp
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/block_manager.cpp
  src/algorithm/hnswlib/block_manager.h
  src/algorithm/hnswlib/hnswalg.cpp
  src/algorithm/hnswlib/hnswalg.h
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

add simd headers for sq8uniform
  src/simd/CMakeLists.txt
  src/simd/sq8_uniform_simd.cpp
  src/simd/sq8_uniform_simd.h
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
Owners: @LHT129, @ShawnShawnYou, @wxyucs, @jiaweizone

modify
  src/factory/factory.cpp
  src/index/diskann.cpp
  src/index/diskann.h
  src/index/diskann_test.cpp
  src/index/hnsw.cpp
  src/index/hnsw.h
  src/index/hnsw_test.cpp
Owners: @jiaweizone

modify
  src/stream_reader.cpp
  src/stream_reader.h
Owners: @jiaweizone

modify
  src/stream_reader.cpp
Owners: @jiaweizone

modify
  src/index/hnsw.cpp
  src/index/hnsw.h
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @jiaweizone

introduce third party argparse for tools
  CMakeLists.txt
  extern/argparse/argparse.cmake
Owners: @wxyucs, @jiaweizone

add simd headers for sq8uniform (#160)
  src/simd/CMakeLists.txt
  src/simd/sq8_uniform_simd.cpp
  src/simd/sq8_uniform_simd.h
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
Owners: @LHT129, @ShawnShawnYou, @wxyucs, @jiaweizone

sq8uniform simd implement
  src/simd/avx.cpp
  src/simd/avx512.cpp
  src/simd/generic.cpp
  src/simd/sq8_uniform_simd_test.cpp
  src/simd/sse.cpp
Owners: @LHT129, @ShawnShawnYou

use shared lock for global mutex of hgraph (#136)
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
Owners: @jiaweizone

modify
  examples/cpp/simple_pyramid.cpp
  include/vsag/constants.h
  include/vsag/dataset.h
  src/constants.cpp
  src/dataset_impl.h
  src/index/pyramid.cpp
  src/index/pyramid.h
Owners: @wxyucs, @jiaweizone

add resize for hgraph
  src/data_cell/graph_interface.h
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_zparameters.cpp
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
  src/footer.cpp
  src/impl/conjugate_graph.cpp
Owners: @jiaweizone

modify
  src/algorithm/hnswlib/hnswalg.cpp
Owners: @jiaweizone

introduce third party argparse for tools (#159)
  CMakeLists.txt
  extern/argparse/argparse.cmake
Owners: @wxyucs, @jiaweizone

modify
  src/factory/factory.cpp
  src/index/diskann_test.cpp
  src/index/diskann_zparameters.cpp
  src/index/diskann_zparameters.h
  src/index/diskann_zparameters_test.cpp
  src/index/hnsw_test.cpp
  src/index/hnsw_zparameters.cpp
  src/index/hnsw_zparameters.h
  src/index/hnsw_zparameters_test.cpp
  src/parameter_check.cpp
  src/utils.h
Owners: @jiaweizone

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou
