Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs
/.github/                @wxyucs
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes, maybe assign reviewers later
/src/                    @jiaweizone

# All the SIMD related codes
/src/simd/               @LHT129 @ShawnShawnYou

add checkout for number of elements for diskann
  src/index/diskann.cpp
Owners: @jiaweizone

modify
  CMakeLists.txt
Owners: @wxyucs, @jiaweizone

enhance flatten_datacell functions (#95)
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_datacell_test.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/flatten_interface.h
  src/data_cell/flatten_interface_test.cpp
  src/data_cell/flatten_interface_test.h
Owners: @jiaweizone

update temp_dir struct (#97)
  src/impl/conjugate_graph_test.cpp
  src/index/hnsw_test.cpp
  src/io/basic_io_test.cpp
  src/io/basic_io_test.h
  tests/fixtures/fixtures.h
  tests/test_index.cpp
  tests/test_vsag_ext.cpp
Owners: @jiaweizone, @wxyucs

fix compile error
  src/data_cell/flatten_interface_test.cpp
Owners: @jiaweizone

update pyvsag version
  python/pyvsag/__init__.py
  python/setup.py
  python_bindings/binding.cpp
Owners: @wxyucs, @jiaweizone

fix compile error (#106)
  src/data_cell/flatten_interface_test.cpp
Owners: @jiaweizone

modify
  CMakeLists.txt
  Makefile
Owners: @wxyucs, @jiaweizone

modify
  CMakeLists.txt
Owners: @wxyucs, @jiaweizone

modify
  CMakeLists.txt
Owners: @wxyucs, @jiaweizone

fix allocator lifespan issue causing incorrect memory deallocation with index
  src/default_allocator.h
  src/index/hnsw.cpp
  src/safe_allocator.h
Owners: @jiaweizone

modify
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

support the use of different C++ standard libraries (#103)
  CMakeLists.txt
  Makefile
Owners: @wxyucs, @jiaweizone

modify
  src/default_allocator.h
  src/index/hnsw.cpp
Owners: @jiaweizone

modify
  src/default_allocator.h
Owners: @jiaweizone

use parallel for ci_test
  .circleci/config.yml
  Makefile
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

modify
  src/default_allocator.h
  src/safe_allocator.h
Owners: @jiaweizone

use parallel for ci_test (#94)
  .circleci/config.yml
  Makefile
  scripts/test_asan_bg.sh
Owners: @wxyucs, @jiaweizone

support filter in test performance (#81)
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

move common params check to class IndexCommonParam
  src/index/diskann_zparameters.cpp
  src/index/hnsw_zparameters.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
Owners: @jiaweizone

chore: compile example only when required (#102)
  CMakeLists.txt
  README.md
  examples/cpp/simple_hnsw.cpp
Owners: @wxyucs, @jiaweizone

introduce cosine for quantizations
  scripts/test_asan_bg.sh
  src/quantization/fp32_quantizer.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer.h
  src/quantization/sq8_quantizer_test.cpp
  src/simd/avx.cpp
  src/simd/avx512.cpp
  src/simd/fp32_simd_test.cpp
  src/simd/generic.cpp
  src/simd/normalize.h
  src/simd/normalize_test.cpp
  src/simd/sq4_simd_test.cpp
  src/simd/sq4_uniform_simd_test.cpp
  src/simd/sq8_simd_test.cpp
  src/simd/sse.cpp
  tests/fixtures/fixtures.cpp
Owners: @wxyucs, @jiaweizone, @LHT129, @ShawnShawnYou

modify
  src/safe_allocator.h
Owners: @jiaweizone

modify
  src/safe_allocator.h
Owners: @jiaweizone

modify
  src/index/diskann.cpp
  src/index/diskann_test.cpp
Owners: @jiaweizone

introduce cosine for quantizations (#101)
  scripts/test_asan_bg.sh
  src/quantization/fp32_quantizer.h
  src/quantization/fp32_quantizer_test.cpp
  src/quantization/quantizer_test.h
  src/quantization/sq4_quantizer.h
  src/quantization/sq4_quantizer_test.cpp
  src/quantization/sq4_uniform_quantizer_test.cpp
  src/quantization/sq8_quantizer.h
  src/quantization/sq8_quantizer_test.cpp
  src/simd/avx.cpp
  src/simd/avx512.cpp
  src/simd/fp32_simd_test.cpp
  src/simd/generic.cpp
  src/simd/normalize.h
  src/simd/normalize_test.cpp
  src/simd/sq4_simd_test.cpp
  src/simd/sq4_uniform_simd_test.cpp
  src/simd/sq8_simd_test.cpp
  src/simd/sse.cpp
  tests/fixtures/fixtures.cpp
Owners: @wxyucs, @jiaweizone, @LHT129, @ShawnShawnYou

move common params check to class IndexCommonParam (#109)
  src/index/diskann_zparameters.cpp
  src/index/hnsw_zparameters.cpp
  src/index/index_common_param.cpp
  src/index/index_common_param.h
Owners: @jiaweizone

fix allocator lifetime issue (#107)
  src/default_allocator.h
  src/index/hnsw.cpp
  src/safe_allocator.h
Owners: @jiaweizone

add graph_datacell and sparse_graph_datacell
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_datacell_test.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/flatten_interface.h
  src/data_cell/graph_datacell.h
  src/data_cell/graph_datacell_test.cpp
  src/data_cell/graph_interface.cpp
  src/data_cell/graph_interface.h
  src/data_cell/graph_interface_test.cpp
  src/data_cell/graph_interface_test.h
  src/data_cell/sparse_graph_datacell.cpp
  src/data_cell/sparse_graph_datacell.h
  src/data_cell/sparse_graph_datacell_test.cpp
  src/io/memory_block_io.h
  src/io/memory_io.h
  src/quantization/fp32_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

[skip ci]update DEVELOPMENT.md
  DEVELOPMENT.md
  Makefile
Owners: @wxyucs, @jiaweizone

fix(src): reinit vsag by explicitly calling init()
  src/vsag.cpp
Owners: @jiaweizone

add graph_datacell and sparse_graph_datacell (#96)
  src/data_cell/flatten_datacell.h
  src/data_cell/flatten_datacell_test.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/flatten_interface.h
  src/data_cell/graph_datacell.h
  src/data_cell/graph_datacell_test.cpp
  src/data_cell/graph_interface.cpp
  src/data_cell/graph_interface.h
  src/data_cell/graph_interface_test.cpp
  src/data_cell/graph_interface_test.h
  src/data_cell/sparse_graph_datacell.cpp
  src/data_cell/sparse_graph_datacell.h
  src/data_cell/sparse_graph_datacell_test.cpp
  src/io/memory_block_io.h
  src/io/memory_io.h
  src/quantization/fp32_quantizer.h
  src/quantization/sq8_quantizer.h
Owners: @jiaweizone

add basic index test
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
  tests/fixtures/test_dataset.h
  tests/test_diskann.cpp
  tests/test_hnsw_new.cpp
  tests/test_index.cpp
  tests/test_index.h
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

introduce hgraph
  examples/cpp/CMakeLists.txt
  examples/cpp/example_hgraph.cpp
  src/factory/factory.cpp
  src/index/hgraph_index.cpp
  src/index/hgraph_index.h
  src/index/hgraph_index_test.cpp
  src/index/hnsw.cpp
  src/stream_writer.cpp
  src/stream_writer.h
  tests/performance/test_performance.cpp
Owners: @wxyucs, @jiaweizone

save
  DEVELOPMENT.md
Owners: @wxyucs, @jiaweizone

add basic index test (#100)
  tests/fixtures/fixtures.cpp
  tests/fixtures/fixtures.h
  tests/fixtures/test_dataset.h
  tests/test_diskann.cpp
  tests/test_hnsw_new.cpp
  tests/test_index.cpp
  tests/test_index.h
  tests/test_index_old.cpp
Owners: @wxyucs, @jiaweizone

[skip ci]add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: @wxyucs, @jiaweizone

add hgraph param
  include/vsag/constants.h
  src/constants.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/graph_interface.h
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hgraph_zparameters_test.cpp
  src/inner_string_params.h
  src/io/memory_block_io.h
  src/utils.cpp
  src/utils.h
Owners: @wxyucs, @jiaweizone

add hgraph param (#111)
  include/vsag/constants.h
  src/constants.cpp
  src/data_cell/flatten_interface.cpp
  src/data_cell/graph_interface.h
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
  src/index/hgraph_zparameters_test.cpp
  src/inner_string_params.h
  src/io/memory_block_io.h
  src/utils.cpp
  src/utils.h
Owners: @wxyucs, @jiaweizone

[skip ci]add CODE_OF_CONDUCT.md (#115)
  CODE_OF_CONDUCT.md
Owners: @wxyucs, @jiaweizone
