Repository alipay/vsag, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wxyucs, @jiaweizone, @LHT129, @inabao, @ShawnShawnYou

update
  scripts/build_pyvsag_multiple_version.sh
Owners: @LHT129, @wxyucs, @inabao

update
  scripts/build_pyvsag_multiple_version.sh
Owners: @LHT129, @wxyucs, @inabao

update
  scripts/build_pyvsag_multiple_version.sh
Owners: @LHT129, @wxyucs, @inabao

update
  Makefile
Owners: @wxyucs, @jiaweizone

update
  Makefile
Owners: @wxyucs, @jiaweizone

modify
  Makefile
  examples/cpp/CMakeLists.txt
  src/factory/factory.cpp
  src/index/pyramid.cpp
  src/index/pyramid.h
Owners: @wxyucs, @jiaweizone, @inabao, @LHT129, @ShawnShawnYou

update
  scripts/build_pyvsag_multiple_version.sh
Owners: @LHT129, @wxyucs, @inabao

use option as default block_size of hgraph index
  src/index/hgraph_zparameters.cpp
  src/index/hgraph_zparameters.h
Owners: @inabao, @wxyucs, @LHT129, @ShawnShawnYou

update
  Makefile
  scripts/build_pyvsag_multiple_version.sh
Owners: @wxyucs, @jiaweizone, @LHT129, @inabao

.github/CODEOWNERS:

# This is a CODEOWNERS file that defines the reviewers of
# specific directories or files. All the reviewers defined
# in this will automatically be invited to review a pull
# request in which modified files match the pattern.

# Fallback rule
*                        @wxyucs @jiaweizone

# All the markdown files
*.md                     @wxyucs @jiaweizone

# GitHub routines
/.circleci/              @wxyucs @LHT129
/.github/                @wxyucs @LHT129
/docker/                 @wxyucs
/.*                      @wxyucs
/LICENSE                 @wxyucs

# Released Indexes
/extern/diskann/         @inabao

# Core codes
/src/                    @jiaweizone @inabao @wxyucs @LHT129 @ShawnShawnYou

# Detail source codes
/src/index               @inabao @wxyucs @LHT129 @ShawnShawnYou
/src/data_cell/          @LHT129 @ShawnShawnYou
/src/io/                 @LHT129
/src/quantization/       @LHT129 @ShawnShawnYou
/src/impl/               @ShawnShawnYou
/src/algorithm/          @inabao @wxyucs
/src/simd/               @LHT129 @ShawnShawnYou

# pybinds
/python_bindings/        @wxyucs @LHT129

# scripts
/scripts/                @LHT129 @wxyucs @inabao
